<template name="routingBasics">
  <h2> Routing Basics </h2>
  <p>
    In this lesson, we're going to learn all about Routing. Whenever you type a url into the box at the top of your browser, the website you are trying to access will usually "route" you to some page. <strong>Meteor Week</strong>, for instance, routes you a certain lesson based on part of the url: <code>https://week.meteor.com/topics/:lesson</code> In <strong>Meteor</strong>, there is a neat package called <strong>Iron Router</strong> that can handle all of the routing for us. You can give it a "layout" template, which usually consists of the navbar at the top of the page and the footer at the bottom of the page. The layout template can then be reused for some or all of our routes. <strong>Iron Router</strong> can also do other cool stuff depending on the data we give it.
  </p>

  <!-- TODO: explain basic routing and urls (localhost vs. hosting, etc.)-->

  <p>
    Let's start off by adding <strong>Iron Router</strong> to our project with:
  </p>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="code">
        $ meteor add iron:router@1.0.0-pre1
      </div>
    </div>
  </div>

  <p>
    We'll learn more about the Meteor package system in a later lesson; it's a really powerful tool that let's you take advantage of the many amazing packages people have written for Meteor, as well as create your own. Okay, let's take a look at our new router. Navigate to your app and create a new directory <code>lib</code>. Then, create a new file in the <code>lib</code> directory called <code>router.js</code>.
  </p>

  <!-- TODO: download link for the example github repo -->

  <p>
    You can copy and paste the following code to see first-hand how the router works.
  </p>

  <div class="panel panel-default">
    <div class="panel-body">
      <h5 class="title">lib/router.js</h5>
      <div class="code">
        // Configuration that applies by default to all routes <br>
        Router.configure({ <br>
        &nbsp;&nbsp;// Could be a 404 error page for routes not mapped <br>
        &nbsp;&nbsp;template: 'notFound', <br>
        &nbsp;&nbsp;// Default layout <br>
        &nbsp;&nbsp;layoutTemplate: 'layout' <br>
        }); <br>
        <br>
        // Router.map lets us create all of our routes <br>
        Router.map(function() { <br>
        <br>
        &nbsp;&nbsp;// This will create a route named 'home'. <br>
        &nbsp;&nbsp;// Navigating to 'localhost:3000/' or 'localhost:3000' <br>
        &nbsp;&nbsp;// will display the template named 'home'. <br>
        &nbsp;&nbsp;this.route('home', {path: '/'}) <br>
        <br>
        &nbsp;&nbsp;// This will create a route named 'about'. <br>
        &nbsp;&nbsp;// Navigating to 'localhost:3000/about' will display <br>
        &nbsp;&nbsp;// the template named 'about'. <br>
        &nbsp;&nbsp;this.route('about'); <br>
        <br>
        <!-- TODO: test this route --> <br>
        &nbsp;&nbsp;// Navigating to 'localhost:3000/messages' will display <br>
        &nbsp;&nbsp;// the template named 'messagesList'. That template will be <br>
        &nbsp;&nbsp;// populated with the result of the data function within the <br>
        &nbsp;&nbsp;// '&#123;{> yield}}' Spacebars helper. <br>
        &nbsp;&nbsp;this.route('messagesList', { <br>
        &nbsp;&nbsp;&nbsp;&nbsp;path: '/messages', <br>
        &nbsp;&nbsp;&nbsp;&nbsp;data: function() { return Messages.find(); } <br>
        &nbsp;&nbsp;}); <br>
        <br>
        &nbsp;&nbsp;// Navigating to 'localhost:3000/messages/263' will display <br>
        &nbsp;&nbsp;// the template named 'messageShow'. That template will be <br>
        &nbsp;&nbsp;// populated with the values from the object with an id of <br>
        &nbsp;&nbsp;// 263 from the Messages collection within the Spacebars <br>
        &nbsp;&nbsp;// helpers. (i.e. &#123;{title}} will show the message title.) <br>
        &nbsp;&nbsp;this.route('messageShow', { <br>
        &nbsp;&nbsp;&nbsp;&nbsp;path: '/messages/:_id', <br>
        &nbsp;&nbsp;&nbsp;&nbsp;data: function() { return Messages.findOne(this.params._id); } <br>
        &nbsp;&nbsp;}); <br>
        <br>
        });
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h5 class="title">main.html</h5>
      <div class="code">
        &lt;body&gt;<br>
        &nbsp;&nbsp;&#123;{> yield}}<br>
        &lt;/body&gt;<br>
        <br>
        &lt;template name="about"><br>
        &nbsp;&nbsp;&lt;h1>About&lt;/h1><br>
        &nbsp;&nbsp;&lt;p><br>
        &nbsp;&nbsp;&nbsp;&nbsp;Click &lt;a href="&#123;{pathFor 'home'}}">here&lt;/a> to go to homepage.<br>
        &nbsp;&nbsp;&lt;/p><br>
        &lt;/template><br>
        <br>
        &lt;template name="messagesList"><br>
        &nbsp;&nbsp;&lt;a href="&#123;{pathFor 'home'}}">Home&lt;/a><br>
        &nbsp;&nbsp;&lt;h1>Messages&lt;/h1><br>
        <!-- TODO: not sure if this works -->
        &nbsp;&nbsp;&#123;{#each data}}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&#123;{> messageShow}}<br>
        &nbsp;&nbsp;&#123;{/each}}<br>
        &lt;/template><br>
        <br>
        &lt;template name="messageShow"><br>
        &nbsp;&nbsp;&lt;a href="&#123;{pathFor 'home'}}">Home&lt;/a><br>
        &nbsp;&nbsp;&lt;h1>Title&lt;/h1><br>
        &nbsp;&nbsp;&lt;h5>User: &#123;{user}}&lt;/h5><br>
        &nbsp;&nbsp;&lt;h5>Recipient: &#123;{recipient}}&lt;/h5><br>
        &nbsp;&nbsp;&lt;p>&#123;{text}}&lt;/p><br>
        &nbsp;&nbsp;&lt;p>&#123;{createdAt}}&lt;/p><br>
        &lt;/template><br>
        <br>
        &lt;template name="notFound"><br>
        &nbsp;&nbsp;&lt;a href="&#123;{pathFor 'home'}}">Home&lt;/a><br>
        &nbsp;&nbsp;&lt;h1>URL Error&lt;/h1><br>
        &nbsp;&nbsp;&lt;p>Page not found&lt;/p><br>
        &lt;/template>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h5>collections.js</h5>
      <div class="code">
        Messages = new Meteor.Collection(&quot;messages&quot;);<br>
        <br>
        Messages.insert({<br>
        &nbsp;&nbsp;user: "jonyive",<br>
        &nbsp;&nbsp;text: "I have some ideas I want you to see",<br>
        &nbsp;&nbsp;recipient: "IDg",<br>
        &nbsp;&nbsp;createdAt: new Date().getTime()<br>
        });<br>
        <br>
        Messages.insert({<br>
        &nbsp;&nbsp;user: "jonyive",<br>
        &nbsp;&nbsp;text: "Coffee?",<br>
        &nbsp;&nbsp;recipient: "tcook",<br>
        &nbsp;&nbsp;createdAt: new Date().getTime()<br>
        });<br>
        <br>
        Messages.insert({<br>
        &nbsp;&nbsp;user: "tcook",<br>
        &nbsp;&nbsp;text: "3:30?",<br>
        &nbsp;&nbsp;recipient: "jonyive",<br>
        &nbsp;&nbsp;createdAt: new Date().getTime()<br>
        });<br>
        <br>
        Messages.insert({<br>
        &nbsp;&nbsp;user: "jonyive",<br>
        &nbsp;&nbsp;text: "Sounds good",<br>
        &nbsp;&nbsp;recipient: "tcook",<br>
        &nbsp;&nbsp;createdAt: new Date().getTime()<br>
        });
      </div>
    </div>
  </div>

  <!-- TODO: browser view -->

  <p>
    Well, that covers all of the basics of routing in Meteor. To check out more advanced features, check out the <a target="_blank" href="https://github.com/EventedMind/iron-router/blob/dev/DOCS.md">official Iron Router documentation</a> and the <a href="/references/routing">quick reference</a> here on Meteor Week. Congrats! You're well on your way to creating fully featured applications using Meteor. In the next lesson, we'll learn all about subscriptions and publications, which let you easily manage data access and permissions for your users.
  </p>

</template>
