<template name="contact">
  <div class="row">
    <div class="large-12 columns">
      <h2>Contact <span class="brand-inline">Meteor Week</span></h2>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            Send an email to meteorweek@<span style="display: none">null</span>gmail.com and we'll get back to you as soon as we can.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>