html{
  height:100%;
}
body {
  height:100%;
  background: url('/img/milky-way.jpg') no-repeat fixed center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/milky-way.jpg');
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/milky-way.jpg');
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/milky-way.jpg');
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/milky-way.jpg');
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url('/img/milky-way.jpg');
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/milky-way.jpg');
}
.container-full {
  margin: 0 auto;
  width: 100%;
  overflow:hidden;

}
.v-center {
  margin-top: 7%;
}
form.lander-form {
  margin-top: 0;
}
h1.lander {
  font-family: Arial,sans-serif;
  font-size: 80px;
  color:#fff;
  margin: 0;
}
h2.lander {
  color: white;
  padding-top: 30px;
  font-size: 46px;
}
.btn-lander {
  border-radius: 3px;
}
.std-panels .panel{
  min-height: 100px;
}