/* CSS declarations go here */

/* NAVBAR */
.navbar-brand {
  padding: 0;
  margin-top: 15px;
  margin-left: 15px;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover {
  color: #fff;
  text-shadow: 0 0 0.2em #fff
}
.navbar > .container-fluid .navbar-brand {
  margin-left: 15px;
}
.navbar .alert {
  color: #f00;
}

/* LANDER */
form.lander-form {
  margin-top: 0;
}

.lead {
  color: #989898;
}
h1 {
  font-family: Arial,sans-serif;
  font-size: 80px;
  color:#fff;
}
p {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: .5px;
}
.panel ul {
  font-family: sans-serif;
  font-size: 18px;
  padding-left: 18px;
}
.inactive {
  -webkit-transition: color 1s, -webkit-transform 1s;
  transition: color 1s, transform 1s;
  -webkit-transition-delay: .5s; /* Safari */
  transition-delay: .5s;
  color: #B2B2B2;
}
.inactive a {
  color: #B2B2B2;
  text-decoration: none;
}
.disabled {
  pointer-events: none;
}
.active {
  -webkit-transition: color 1s, -webkit-transform 1s;
  transition: color 1s, transform 1s;
  -webkit-transition-delay: .5s; /* Safari */
  transition-delay: .5s;
}
.highlighted {
  background-color: #FFFF33
}
.gray {
  color: #B2B2B2;
}
.blue {
  color: #1947D1;
}
.centered {
  text-align: center;
}
ul.centered > li {
  display: inline-block;
  float: none
}
.button-rounded {
  border-radius: 7.5px;
}
form {
  margin-top: 40px;
}
h6.faded {
  color:  #444;
}
.brand-inline {
  font-weight: bold;
  display: inline-block;
}
.spaced {
  padding-top: 10px;
}
.code {
  font-family: Courier;
  font-size: 16px;
  line-height: 24px;
}
.code-inline {
  font-family: Courier;
  font-size: 16px;
  line-height: 24px;
  padding-left: 4px;
}
.title {
  font-weight: bold;
  padding-bottom: 10px;
}
.large-6 > .panel {
  height: 100%;
}
button,
a.button {
  padding-top: .8rem;
  padding-bottom: .65rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin: 0;
}
.serif, .serif * {
  font-family: sans-serif;
}