/* CSS declarations go here */
p {
  font-family: serif;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: .5px;
}
.inactive {
  -webkit-transition: color 1s, -webkit-transform 1s;
  transition: color 1s, transform 1s;
  -webkit-transition-delay: .5s; /* Safari */
  transition-delay: .5s;
  color: #B2B2B2;
}
.inactive a {
  color: #B2B2B2;
  text-decoration: none;
}
.active {
  -webkit-transition: color 1s, -webkit-transform 1s;
  transition: color 1s, transform 1s;
  -webkit-transition-delay: .5s; /* Safari */
  transition-delay: .5s;
}
.highlighted {
  background-color: #FFFF00
}
.gray {
  color: #B2B2B2;
}
.blue {
  color: #1947D1;
}
.ul-centered {
  text-align: center;
}
.ul-centered > li {
  display: inline-block;
  float: none
}
.button-rounded {
  border-radius: 7.5px;
}
form {
  margin-top: 40px;
}
h6.faded {
  color:  #444;
}
.spaced {
  padding-top: 10px;
}
.code {
  font-family: Courier;
  font-size: 16px;
  line-height: 24px;
}
.code-inline {
  font-family: Courier;
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
}
.title {
  font-weight: bold;
  padding-bottom: 10px;
}
.large-6 > .panel {
  height: 100%;
}